@import "./color.scss";

.noneData{
    background-color: $subColor;
    color: #8B8E8A;
    height: 200px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}