@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import "./color.scss";

@mixin areaPadding{
    padding: 150px 20% 20px; 
    @media (max-width:1300px) {
        padding: 150px 10% 20px;
    }
    @media (max-width:600px) {
        padding: 100px 10% 20px;
    }
    @media (max-width:450px) {
        padding: 100px 5% 20px;
    }
}


*{
    font-family: 'Noto Sans KR', sans-serif !important;
}

body{
    background-color: $bgColor;
    color : white;
    @include areaPadding;
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;

}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

button{
    cursor: pointer;
}
