@import "./color.scss";

.projectListWrapper{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    @media (max-width:1700px) {
        column-gap: 20px;
    }
    @media (max-width:600px) {
        padding-bottom: 100px;
    }
    .projectBox{
        border-radius: 10px;
        width: 20%;
        @media (max-width:1700px) {
            width: 25%;
        }
        @media (max-width:800px) {
            width: 40%;
        }
        @media (max-width:605px) {
            width: 90%;
        }
        height: 200px;
        background-color: $subColor;
        padding: 10px 20px;

        svg{
            color: $mainColor;
        }

        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            h4{
                font-size: 16px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .imgArea{
                position: relative;
                width: 48px;
                height: 48px;
                right: 17px;
                img{
                    width: 48px !important;
                    height: 48px !important;
                    border-radius: 100px;
                    object-fit: cover;
                }
            }
        }
        
        .content{
            color: #8e8f91;
            font-size: 15px;
            font-weight: 500;
            line-height: 25px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            min-height: 76px;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }
        .bottomInfo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                border: none;
                background-color: #303030;
                color: #8e8f91;
                width: 80px;
                height: 26px;
                border-radius: 10px;
                margin-top: 25px;
                padding-bottom: 2px;
                &:hover{
                    color: $mainColor;
                }
            }
            .endBtn{
                border: none;
                background-color: #303030;
                color: #8e8f91;
                width: 80px;
                height: 26px;
                border-radius: 10px;
                margin-top: 25px;
                padding-bottom: 2px;
                cursor: text;
                &:hover{
                    color: #8e8f91;
                }
            }
            .progressBtn{
                border: none;
                background-color: #303030;
                color: $mainColor;
                width: 80px;
                height: 26px;
                border-radius: 10px;
                margin-top: 25px;
                padding-bottom: 2px;
                cursor: text;
                &:hover{
                    color:$mainColor;
                }
            }
            .date{
                color: #8e8f91;
                margin-top: 25px;
                font-size: 13px;
            }
        }
    }
}

.detailModalWrapper{
    display: flex;
    position: fixed;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    .modalBox{
        margin: 50px 0;
        padding: 25px 30px;
        background-color: $subColor;
        width: 50%;
        border-radius: 20px;
        @media (max-width:600px) {
            width: 80%;
        }

        .closeBtn{
            display: flex;
            justify-content: flex-end;
            color: $mainColor;
            svg{
                cursor: pointer;
                width: 30px !important;
                height: 30px !important;
            }
        }
        .imgArea{
            position: relative;
            margin-top: 50px;
            display: flex;
            width: 100%;
            height: 200px;
            img{
                margin: 0 auto;
                width: 40% !important;
                @media (max-width:1400px) {
                    width: 60% !important;
                }

                border-radius: 10px;
                object-fit: contain;
            }
        }
        .topInfo{
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            h3{
                width: 80%;
            }
            button{
                border: none;
                background-color: #303030;
                color: $mainColor;
                width: 80px;
                height: 26px;
                border-radius: 10px;
                margin-top: 25px;
                padding-bottom: 2px;
                &.on{
                    &:hover{
                        color: $mainColor;
                    }
                }
                &:hover{
                    color: white;
                }
            }
        }
        p{
            height: 50%;
            overflow-y: auto;
        }
    }
}